// Put your custom SCSS code here
.projects.list .card, .projects.single .card {
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: transform 0.3s;
  }
  
  .projects.list .content .card:hover,
  .projects.single .content .card:hover {
    transform: scale(1.025);
  }
  
  .projects.list .content .card-body,
  .projects.single .content .card-body {
    padding: 0 2rem 1rem;
  }

[data-bs-theme="light"] .tech-logo img { display: none; }
[data-bs-theme="light"] .tech-logo img.light { display: inline-block; }

[data-bs-theme="dark"] .tech-logo img { display: none; }
[data-bs-theme="dark"] .tech-logo img.dark { display: inline-block; }